## Table operations
A table supports a subset of the following operators (though sometimes it may be combined in design)

* **initialize** - Table is initialized to an empty table
* **isEmpty** - tests if table is empty
* **isFull** - tests if table is full
* **insert** - add a new item with key:value to the table
* **delete** - given a key remove the record with a matching key
* **update** - given a key:value pair change the record in table with matching key to the value
* **find** - given a key find the record
* **enumerate** - process/list/count all items in the table

In [ ]:
Date	Sales
Jan-01	580
Jan-12	689
Jan-24	865
Jan-31	234
Jan-26	457

In [5]:
x = 'Jan-24'
for i in d:
    if i[0] == x:
        print(i[1])

865

In [12]:
def hashfunction(key):
    if key[0:3] == 'Jan':
        return int(key[-2:])
    if key[0:3] == 'Feb':
        return int(key[-2:]) + 31
    
    

l = [None for i in range(61)]
d = [["Jan-01",58], ['Jan-12',689], ['Jan-24', 865], ["Feb-01",508]]

print(l)

for item in d:
    l[hashfunction(item[0])] = item[1]
print(l)

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
[None, 58, None, None, None, None, None, None, None, None, None, None, 689, None, None, None, None, None, None, None, None, None, None, None, 865, None, None, None, None, None, None, None, 508, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

32

In [ ]:
l = ['Raju', 'Rama', "Ram"]